#include <windows.h>

C_APPICON ICON "fulldraw.ico"

C_CTXMENU MENU {
  POPUP "0" {
    MENUITEM "refresh", 0xAB32
    MENUITEM "clear", 0x000C
    MENUITEM "exit", 0xDEAD
  }
}

VS_VERSION_INFO VERSIONINFO 
FILEVERSION 1,0,0,0
FILETYPE VFT_APP {
  BLOCK "StringFileInfo" {
    BLOCK "041103A4" {
      VALUE "ProductVersion", "0.0.5"
      VALUE "FileDescription", "drawing to fullscreen canvas"
      VALUE "CompanyName", "github.com/0mg"
      VALUE "ProductName", "fulldraw"
    }
  }
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x0411, 932
  }
}
