#include <windows.h>

C_APPICON ICON "fulldraw.ico"

C_CTXMENU MENU {
  POPUP "0" {
    MENUITEM "refresh\tF5", 0xAB32
    MENUITEM "clear\tDel", 0x000C
    MENUITEM "minimize\tCtrl+M", 0x2130
    MENUITEM "exit\tEsc", 0xDEAD
  }
}

VS_VERSION_INFO VERSIONINFO 
FILEVERSION 0,1,3,0
FILETYPE VFT_APP {
  BLOCK "StringFileInfo" {
    BLOCK "041103A4" {
      VALUE "FileDescription", "fulldraw"
    }
  }
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x0411, 932
  }
}
