#include <windows.h>

APPICON ICON "fulldraw.ico"

VS_VERSION_INFO VERSIONINFO 
FILEVERSION 1,0,0,0
FILETYPE VFT_APP {
  BLOCK "StringFileInfo" {
    BLOCK "041103A4" {
      VALUE "ProductVersion", "0.0.3\0"
      VALUE "FileDescription", "drawing to fullscreen canvas\0"
      VALUE "CompanyName", "github.com/0mg\0"
      VALUE "ProductName", "fulldraw\0"
    }
  }
  BLOCK "VarFileInfo" {
    VALUE "Translation", 0x0411, 932
  }
}
